.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    position: fixed;
    left: 0;
    top: 0; 
    width: 100%; 
    z-index: 100; 
  }

  .mobileMenuIcon {
    display: none; /* Initially hide the mobile menu icon */
    cursor: pointer;
  }

  .mobileMenuVisible .menu {
    display: block;
    /* Styles for the mobile menu, e.g., background color, positioning, etc. */
  }
  
  .logo {
    width: 78px;
    height: 49.333px;
    flex-shrink: 0;
    padding-left: 2rem;
  }

  .navigation {
    display: flex;
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 2rem;
  }

  .navigation li{
    margin-left: 20px;
  }
  
  .link {
    margin-right: 20px;
  }

.navigation a {
  color: #000000;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
  
.navigation a:hover{
  color : #FF9500;
}

.active a{
  color : #FF9500;
}

.listIcon{
  font-size: 24px;
  display: none;
}

@media (min-width: 768px) {
  .navigationOp{
    display: none;
  }
}

@media (max-width: 768px) {
  .link {
    margin-right: 1rem;
    margin-bottom: 10px;
  }

  .Up {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
  }

  .navigation {
    display: none;
  }

  .navigationOp{
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
    margin-right: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .navigationOp ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem 3rem 1rem 0;
    list-style: none;
  }

  .navigationOp a {
    font-family: 'Poppins';
    text-decoration: none;
  }

  .li {
    padding: 1rem 0 1rem 0;
  }

  .logo {
    width: 50px;
    height: auto;
    padding-left: 0.5rem;
    margin-right: auto;
  }

  .header {
    padding: 10px;
    font-size: 12px;
    flex-direction: column;
    height: 50px;
  }

  .listIcon {
    font-size: 24px;
    display: block;
    align-items: center;
    padding-right: 2rem;
    right: 0;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    margin-top: 0.5rem;
  }
}
