@font-face {
    font-family: 'Poppins';
    src: url('../../assets/Poppins/Poppins-Light.ttf');
    src:url('../../assets/Poppins/Poppins-Medium.ttf');
}

.adminLayout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: 'Poppins';
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
}

.sidebar{
    order: 1;
    width: 300px;
    color: #000;
    background-color: #F1F9F7;
}

.content{
    order: 2;
    flex:1;
}

@media only screen and (max-width: 768px) {
    .container {
        margin-top: 20px;
        width: 100%;
    }

    .sidebar {
        width: 300px;
    }

    .content {
        order: 1;
        flex: 1;
    }
}

/* Font size adjustments */
@media only screen and (max-width: 480px) {
    .adminLayout {
        font-size: 12px;
    }
}