@font-face {
    font-family: 'Poppins';
    src: url('../../assets/Poppins/Poppins-Light.ttf');
    src:url('../../assets/Poppins/Poppins-Medium.ttf');
}

.adminLayout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: 'Poppins';
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 100%;
} 

.sidebar{
    width: 15rem;
    color: #000;
    background-color: #fff;
}

.content{
    flex:1;
}

@media  (max-width: 768px) {
    .container {
        margin-top: 4rem;
    }

    .content {
        order: 1;
        flex: 1;
    }

    .sidebar{
        margin: 0;
        width: 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .adminLayout {
        font-size: 12px;
    }
}