@font-face {
    font-family: 'Poppins';
    src: url('../../../../components/assets/Poppins/Poppins-Light.ttf');
    src: url('../../../../components/assets/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Gaston';
    src: url('../../../../components/assets/Gaston\ Linear\ Bold.woff.ttf');
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, #7A9791 50%, #F1F9F7 50%);
}

.bannerSatu{
    color: #fff;
    padding-top : 5rem;
    margin-left: 3rem;
    font-family: 'Poppins';
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Link{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Link p{
    margin-left: 20px;
    font-size: 18px;
}

.containerProfile{
    display: flex;
    min-height: 50vh;
    position: relative;
    font-family: 'Poppins';
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.profilWrapper{
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: #fff;
    min-height: 50vh;
    width: 80%;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.buttonSimpan{
    margin-top: 20px;
    display: flex;
    margin-right: 0px;
    margin-left: auto;
}

.buttonSave{
    padding: 10px 20px 10px 20px;
    background-color: #FF9500;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.foto{
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.profil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editFoto{
    margin-top: 5px;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 12px;
    cursor: pointer;
    color:#FF9500;
}

.menuUp{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menuUp1{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-left: 30px;
    align-items: center;
    color: #000;
}

.menuUp1 p{
    margin-left: 20px;
}

.backUp{
    align-items: center;
}

.menuUp2{
    margin-left: auto;
    margin-right: 30px;
    color: #FF9500;
    border: none;
    background-color: transparent;
    font-family: 'Poppins';
    font-size: 15px;
    cursor: pointer;
}

.ModalOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Latar belakang semi-transparan */
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalContent {
    background-color: #fff; /* Warna latar belakang modal */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Efek bayangan */
    max-width: 400px; /* Lebar maksimum modal */
    width: 100%;
    text-align: center;
    font-family: 'Poppins';
    font-size: 12px;
}

.ModalContent button {
    margin-top: 10px;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    border: #FF9500 1px solid;
    width: 100px;
    cursor: pointer;
    margin-right: 10px;
    font-family: 'Poppins';
    font-size: 12px;
}

.ModalContent button:last-child {
    background-color: #FF9500; /* Warna latar belakang tombol Kembali ke Masuk */
    color:#fff;
    margin-left: 20px;
    border:none
}

.form{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 100%;
}

.form p{
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.form input{
    border: #d9d9d9 solid 1px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    width: 90%;
}

.selectWrapper{
    border: #d9d9d9 solid 1px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    width: 90%;
}

.select{
    border: none;
    background-color: transparent;
    width: 750px;
    color: #333;
    font-family: 'Poppins';
    outline: none;
}

@media (max-width: 1024px) {
    .back{
        width: 20px;
        height: 20px;
    }

    .Link p{
        font-size: 0.8rem;
        margin-left: 1rem;
    }

    .form {
        max-width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .form p {
        font-size: 0.7rem;
    }

    .form input {
        width: 90%; /* Menggunakan lebar 100% agar elemen input mengisi lebar parent */
        font-size: 0.6rem;
    }

    .selectWrapper {
        width: 90%; 
    }

    .select  {
        width: 90%; 
        font-size: 0.7rem;
    }

    .editFoto{
        margin-top: 5px;
        font-size: 0.6rem;
    }

    .backUp{
        width: 20px;
        height: 20px;
    }

    .menuUp2{
        margin-left: auto;
        margin-right: 1.5rem;
        font-size: 0.8rem;
    }

    .menuUp1{
        margin-left: 1.5rem;
        font-size: 0.8rem;
        align-items: center;
    }

    .menuUp1 p{
        margin-left: 0.5rem;
    }
    
    .ModalContent {
        padding: 1rem;
        max-width: 15rem; 
        width: 100%;
        font-size: 0.5rem;
    }
    
    .ModalContent button {
        margin-top: 1rem;
        padding: 0.5rem;
        width: 5rem;
        margin-right: 0;
        font-size: 0.6rem;
    }
    
    .ModalContent button:last-child {
        background-color: #FF9500; /* Warna latar belakang tombol Kembali ke Masuk */
        color:#fff;
        margin-left: 20px;
        border:none
    }

    .buttonSave{
        font-size: 0.7rem;
    }
}