.container {
    display: flex;
    padding-left: 20px;
    flex-direction: column;
    min-height: 100vh;
    min-width: 150vh;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.judul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color:#000;
    margin-bottom: 1rem;
    font-size: 0.94rem;
}

.card1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iconContainer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    width: 40px;
}

.icon{
    width: 30px;
    height: 30px;
}

.card2{
    margin-right: 50px;
    margin-left: 50px;
    background-color: #4c4c9f;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 150px;
    box-shadow: 5px 10px 25px rgba(77, 75, 172, 0.5);
    color: #fff;
}

.card3{
    margin-right: 50px;
    margin-left: 50px;
    background-color: #9799d6;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 150px;
    box-shadow: 5px 10px 25px rgba(151, 153, 214, 0.5);
    color: #fff;
}

.card4{
    margin-right: 50px;
    margin-left: 50px;
    background-color: #ff7f8b;
    padding: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 150px;
    box-shadow: 5px 10px 25px rgba(255, 128, 139, 0.5);
    color: #fff;
}

.card h2{
    font-size: 30px;
    text-align: center;
    color: #FF4136;
    padding: 0;
}

.card p{
    font-size: 12px;
}

.p1{
    color: #fff;
}

.content2{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.chart{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    min-width: 700px;
    height: 500px;
    justify-content: center;
}

.activity{
    border-left: #000 1px solid;
    padding: 20px;
}