@font-face {
  font-family: 'Poppins';
  src: url('../../assets/Poppins/Poppins-Light.ttf');
  src:url('../../assets/Poppins/Poppins-Medium.ttf');
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: 'Poppins';
}

.footerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top:30px; 
  margin-bottom: 30px;
}

.footerContent h2{
  font-size: 18px;
  color: #9d9d9d;
}

.footerContent p{
  font-size: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.facebook {
  margin: 0 100px;
}

.facebook :hover{
  color: #3b5998;
  transform: scale(1.10);
}

.instagram {
  margin: 0 100px;
}

.instagram :hover{
  color: #d62976;
  transform: scale(1.10);
}

.youtube{
  margin: 0 100px;
}

.youtube :hover{
  color: #FF0000;
  transform: scale(1.10);
}

.image {
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: #9d9d9d;
}

@media (max-width: 768px) {
  .footerContent h2 {
      font-size: 0.75rem; /* Mengurangi ukuran teks saat layar kecil */
      margin-bottom: 0.25rem; /* Mengurangi margin bawah */
  }

  .footerContent p {
      font-size: 0.6rem; /* Ukuran teks yang lebih kecil pada elemen p */
  }

  .imageContainer {
      font-size: 1rem; /* Mengurangi ukuran teks saat layar kecil */
  }

  .image {
    width: 20px; 
    height: 20px; 
  }

  .youtube,
  .facebook,
  .instagram{
    margin: 0 50px;
  }
}
