@font-face {
    font-family: 'Poppins';
    src: url('../../components/assets/Poppins/Poppins-Light.ttf');
    src:url('../../components/assets/Poppins/Poppins-Medium.ttf');
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.banner {
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 3rem;
    background-image: url("../../components/elements/banner.png");
}
    
.bannerButton{
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #FF9500;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 15px;
    font-family: 'Poppins';
    font-size: 12px;
    cursor: pointer;
}
    
.banner h1{
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
    
.bannerContent{
    position: relative;
    width: 100%;
    max-width: 1200px; /* Atur sesuai kebutuhan Anda */
    margin: 0 auto; /* Untuk tengah secara horizontal */
    background-size: cover;
    background-position: center;
    padding-top: 3rem;
}
    
.solusi{
    display: flex;
    align-items: flex-start; /* Membuat card berada di samping teks */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 4rem;
    background-color: #ffffff;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap; /* Menggunakan wrap untuk memindahkan card ke baris baru pada ukuran layar kecil */
    justify-content: space-between;
    background-color: #f1f9f7;
    padding: 50px;
}
    
.solusiContent h2{
    flex: 1; /* Menyebarkan sisa lebar konten */
    padding-right: 5rem; /* Memberi jarak antara teks dan card */
    color: var(--green-2, #385C4E);
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1rem;
}
    
.solusiContent p {
    flex: 1;
    padding-right: 5rem;
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 1rem;
}
    

    
.card {
    flex: 1;
    width: calc(50% - 20px); 
    margin-bottom: 10px; 
    margin-right: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
    
.card p{
    text-align: left;
    font-size: 12px;
}
    
.card:hover {
    transform: scale(1.05);
}
    
.card h3 {
    margin-top: 10px;
    color: #7A9791;
}
    
.card p {
    margin-top: 5px;
    color: #666;
}
    
.cardButton{
    width: 87px;
    height: 24px;
    border-radius: 5px;
    background: #FF9500;
    border: none;
    color: #FFF;
    font-family: 'Poppins';
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    font-weight: 500;
    align-items: center;
    margin-top: auto;
    margin-bottom: 10px;
}
    
.promosi{
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 4rem;
    background-image: url("../../components/elements/banner2.png");
}

.promosi p{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.colorText{
    color: #385C4E;
}

    
@media (max-width: 768px) {
    .banner {
        padding: 3rem; /* Mengurangi padding pada ukuran layar kecil */
    }
    
    .bannerButton {
            padding: 8px 24px; /* Sesuaikan padding untuk layar kecil */
            font-size: 0.8rem; /* Ukuran font yang lebih kecil untuk layar kecil */
    }

    .banner h1 {
        font-size: 1.5rem; /* Ukuran font yang lebih kecil untuk layar kecil */
    }

    .bannerContent {
        padding-top: 2rem; /* Kurangi padding pada layar kecil */
        max-width: 100%; /* Gunakan lebar maksimum yang lebih kecil pada layar kecil */
    }

    .solusi {
        flex-direction: column; /* Stack card di bawah teks pada layar kecil */
        padding: 2rem; /* Mengurangi padding pada layar kecil */
    }

    .cardContainer {
        flex-direction: column; /* Stack card di bawah teks pada layar kecil */
    }

    .solusiContent h2{
        padding-right: 0; /* Hapus jarak antara teks dan card pada layar kecil */
        font-size: 1.5rem; /* Atur ukuran font kembali ke ukuran asli */
    }    

    .solusiContent p {
        padding-right: 0; /* Hapus jarak kanan pada layar kecil */
        font-size: 0.8rem; /* Mengurangi ukuran font untuk responsivitas */
    }

    .card {
        width: calc(50% - 20px); /* Kartu akan mengambil lebar penuh pada layar kecil */
    }

    .cardButton {
        height: 30px; /* Mengurangi tinggi tombol saat layar kecil */
        font-size: 0.6rem; /* Mengurangi ukuran teks saat layar kecil */
    }

    .promosi p {
        font-size: 0.9rem; /* Mengurangi ukuran teks saat layar kecil */
    }
}